* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
}

@font-face {
  font-family: "Bebas";
  src: url(/Fonts/Bebas_Neue/BebasNeue-Regular.woff2);
}
@font-face {
  font-family: "Fira";
  src: url(/Fonts/Fira_Sans/FiraSans-Thin.woff2);
}

@font-face {
  font-family: "Fira-bold";
  src: url(/Fonts/Fira_Sans/FiraSans-Medium.woff2);
}


/* First page */

.arrow_tickets_container {
  z-index: 1;
  display: flex;
  justify-content: center;
  margin-right: 5rem;
  width: 50%;
  height: 2rem;
  display: flex;
}

.first_page_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: rgb(245, 242, 236);
}

.vinyl_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
  animation: faderIn ease 5s;
  -webkit-animation: faderIn ease 5s;
}

.vinyl_disc {
  height: 40rem;
  width: 40rem;
  animation: rotation 4s ease-in infinite;
  animation-delay: 2s;
  position: absolute;
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.am_logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-top: -20rem;
}
.am_logo {
  width: 20rem;
  height: 10rem;
  margin-left: 4rem;
  animation: faderIn ease 5s;
  -webkit-animation: faderIn ease 5s;

}

@keyframes faderIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes faderIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text_content_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  margin-top: 4rem;
  gap: 1rem;
}

.text_content_one,
.text_content_two,
.text_content_three,
.text_content_four {
  color: white;
  font-size: 19px;
  font-family: Bebas;
}

.line_text_title {
  background-color: white;
  width: 2rem;
  border-radius: 3rem;
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
}

.text_content_one {
  animation: fadeIn ease 6s;
  -webkit-animation: fadeIn ease 6s;
}

.text_content_two {
  animation: fadeIn ease 8s;
  -webkit-animation: fadeIn ease 8s;
}

.text_content_three {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
}

.text_content_four {
  animation: fadeIn ease 12s;
  -webkit-animation: fadeIn ease 12s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text_welcome {
  margin-top: -64rem;
  margin-left: -5rem;
  font-size: 16px;
  font-family: "Bebas";
  transform: rotate(-10deg);
}

.arrow_tickets {
  height: 2rem;
  width: 2rem;
  z-index: 2;
  margin-top: -62rem;
  margin-left: 1rem;
  transform: rotate(-42deg);
  animation: fadeIn ease 18s;
  -webkit-animation: fadeIn ease 18s;
}
.tickets_container {
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-right: 10rem;
  margin-top: 90rem;
  z-index: 1;
  animation: fadeIn ease 15s;
  -webkit-animation: fadeIn ease 15s;
}

.buy_tickets {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-right: 6rem;
  margin-bottom: 55rem;
  background-color: rgba(255, 184, 0, 1);
  height: 6rem;
  box-shadow: 0px 1px 2px black;
  width: 6rem;
  border-radius: 20rem;
  animation-name: floating;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 6s;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.tickets_text {
  text-align: center;
  font-size: 16px;
  font-family: "Bebas";
  font-weight: 400;
  transform: rotate(-10deg);
  text-decoration: none;
  color: black;
}

.arrow_down_container_page_one {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 42rem;
}
.arrow_down_page_one {
  border: solid rgba(37, 36, 35, 1);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  animation: fadeIn ease 17s;
  -webkit-animation: fadeIn ease 17s;
}

/* Second page */

.second_page_container {
  height: 100vh;
  background-color: rgb(245, 242, 236);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dance_banner {
  height: 1rem;
  width: 12rem;
  margin-right: 0.5rem;
}

.dance_title_container {
  height: 15rem;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dance_title {
  font-family: "Bebas";
  font-size: 28px;
  font-weight: 400;
  
}

.dance_text {
  margin-top: 2rem;
  text-align: center;
  line-height: 1.3rem;
  font-family: "Fira";
  font-weight: 100;
  
}

.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}

.button_box_one,
.button_box_two,
.button_box_three {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 17.5rem;
  background-color: rgb(37, 36, 35);
  margin: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.fa-facebook {
  font-size: 18px;
  margin: 2px;
}
.fa-twitter {
  font-size: 18px;
  margin: 2px;
}

.box_title {
  color: white;
  font-family: "Bebas";
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 2.5rem;
  position: absolute;
}

.box_text {
  color: white;
  font-family: "Fira", sans-serif;
  font-size: 12px;
  margin-top: 1.5rem;
  text-align: center;
  padding: 1rem;
}

.arrow_down_page_two {
  margin-bottom: -2rem;
  border: solid rgba(37, 36, 35, 1);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* Third page */

.third_page_container {
  height: 100vh;
  background-image: url(/Pictures/publik_svartvit_414px.webp);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 21rem;
}


.arrow_third_page {
  border: solid rgba(254, 182, 0, 0.89); 
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.vinyl_case_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50%;
  background-color: rgba(254, 182, 0, 0.89);
  border-radius: 30rem;
  width: 23rem;
  margin-bottom: -10rem;
  margin-top: 8rem;
}

.vinyl_case {
  height: 100%;
  width: 24rem;
  margin-left: 1rem;
}

.vinyl_case_text {
  margin-bottom: 6rem;
  text-align: center;
  width: 16rem;
  font-family: "Fira", sans-serif;
  
}

/* Fourth page */

.arrow_fourth_page {
  margin-top: 5rem;
  border: solid rgba(37, 36, 35, 1);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.fourth_page_container {
  height: 100vh;
  background-color: rgb(245, 242, 236);
}

.click_here_word {
  color: black;
}

.the_night_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.night_banner {
  height: 1rem;
  width: 7rem;
  margin-right: 0.5rem;
}

.the_night_title {
  font-family: "Bebas";
  font-weight: 400;
  font-size: 28px;
  margin-top: 2rem;
 
}

.the_night_text {
  margin-top: 2rem;
  text-align: center;
  line-height: 1.3rem;
  font-family: "Fira", sans-serif;
  width: 24rem;
}

.schema_list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
  gap: 1rem;
  margin-left: 1rem;
  list-style: none;
  text-decoration: none;
  font-family: "Fira", sans-serif;
  font-weight: 400;
  z-index: 1;
}

.schema_text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Fira";
}

.number_align {
  display: flex;
  flex-direction: row;
  text-indent: 5px;
  font-family: "Fira-bold";
}

.text_align {
  font-family: "Fira";
}

.buy_tickets_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.7rem;
  height: 12rem;
  margin-top: 3rem;
}

.buy_tickets_button {
  height: 3rem;
  width: 16rem;
  background-color: rgb(254, 184, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.buy_tickets_button:hover {
  box-shadow: 0px 3px 5px rgba(128, 128, 128, 0.562);
  transform: scale(1.1);
}

.buy_tickets_button_two {
  height: 3rem;
  width: 16rem;
  background-color: rgb(37, 36, 35);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.buy_tickets_button_two:hover {
  box-shadow: 0px 3px 5px rgba(128, 128, 128, 0.562);
  transform: scale(1.1);
}

.buy_tickets_button_three {
  height: 3rem;
  width: 16rem;
  background-color: rgb(37, 36, 35);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.buy_tickets_button_three:hover {
  box-shadow: 0px 3px 5px rgba(128, 128, 128, 0.562);
  transform: scale(1.1);
}

.buy_tickets_text {
  font-family: "Bebas";
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.buy_tickets_text_two {
  font-family: "Bebas";
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.arrow_down_container_four {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 9rem;
  height: 1rem;
}

/* Fifth page */

.fifth_page_container {
  height: 100vh;
  background-image: url(/Pictures/dans_svartvit.webp);
  background-size: cover;
  background-attachment: fixed;
}

.dance_svartvit_container {
  display: flex;
  justify-content: center;
}

.dance_svartvit {
  width: 100%;
  height: 28rem;
}

.footer_holder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15rem;
}
.footer_container {
  background-color: rgb(37, 36, 35);
  height: 15rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 6rem;
  clear: both;
  position: relative;
  margin-top: 43.6rem;
  
}

.footer_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 10rem;
  gap: 0.5rem;
  margin-top: 1rem;
}

.list_item {
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: "Fira", sans-serif;
  font-size: 14px;
}

.list_line {
  display: flex;
  justify-content: center;
  border-top: 1px solid rgb(37, 36, 35);
  width: 100%;
}

.footer_development {
  color: white;
  font-size: 10px;
  font-family: "Fira", sans-serif;
  font-weight: 100;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.footer_image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  height: 100%;
  width: 100%;
}

.fifth_page_text_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 100%;
  margin: 0;
}

.thirty_banner {
  height: 1rem;
  width: 18rem;
  margin-right: 0.3rem;
  margin-top: 23rem;

}
.fifth_page_text {
  font-family: "Bebas";
  font-weight: 400;
  font-size: 45px;
  margin-top: 20rem;
  z-index: 2;
  position: absolute;
  color: whitesmoke;
  text-shadow: 1px 1px 5px black;
}



/* Desktop Mode */

@media (min-width: 415px) {
  /* Page one */

  .vinyl_container {
    margin-left: 7rem;
  }

  .vinyl_disc {
    height: 70rem;
    width: 70rem;
    margin-left: 8rem;
  }

  .am_logo_container {
    display: flex;
    justify-content: center;
    margin-top: -25rem;
  }
  .am_logo {
    width: 550px;
    height: 270px;
    margin-left: 5rem;
  }

  .text_content_container {
    margin-top: 12rem;
    gap: 1.5rem;
  }

  .text_content_one,
  .text_content_two,
  .text_content_three,
  .text_content_four {
    font-size: 25px;
  }

  .tickets_container {
    margin-right: 35rem;
    margin-top: 95rem;
  }

  .arrow_down_container_page_one {
    margin-top: 50rem;
  }

  /* Page two */

  .dance_banner {
    height: 1rem;
    width: 26rem;
    margin-right: 0.5rem;
    
  }

  .dance_title {
    font-size: 4rem;
    margin-top: 4rem;
    margin-bottom: -0.5rem;
  }
  .dance_text {
    margin-top: 4rem;
    line-height: 1.5rem;
    width: 40rem;
    font-size: 18px;
    margin-bottom: 0rem;
    
  }

  .box_title {
    font-size: 23px;
  }

  .box_text {
    font-size: 14px;
    margin-top: 2.2rem;
  }
  .button_container {
    margin-top: 10rem;
    margin-bottom: 1rem;
  }

  .button_box_one,
  .button_box_two,
  .button_box_three {
    height: 6rem;
    width: 28rem;
  }


  /* Third page */


  .vinyl_case_container {
    margin-top: 20rem;
    height: 25rem;
    width: 25rem;
    margin-bottom: 4rem;
  }

  .vinyl_case {
    height: 100%;
    width: 30rem;
    margin-left: 1rem;
  }

  .vinyl_case_text {
    margin-bottom: 5rem;
    text-align: center;
    width: 16.5rem;
    font-family: "Fira", sans-serif;
  }

  .arrow_third_page {
    margin-top: -20rem;
    margin-bottom: 10rem;
  }



  /* Fourth page */

  .the_night_title {
    font-size: 4rem;
    margin-bottom: -0.5rem;
  }
  .night_banner {
    height: 1rem;
  width: 12rem;
  }
  .the_night_text {
    font-size: 18px;
    width: 35rem;
    margin-top: 3rem;
  }
  .schema_list {
    display: grid;
    list-style: inside;
    text-align: center;
  }
  .number_align,
  .text_align {
    font-size: 18px;
  }
  .arrow_down_container_four {
    margin-top: 13rem;
    height: 0.5rem;
  }

  /* Fifth page */

  .fifth_page_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .thirty_banner {
    height: 1rem;
    width: 24rem;
    margin-bottom: 0.5rem;
  }
  

  .fifth_page_text {
    margin-bottom: 1.5rem;
    font-size: 60px;
    color: whitesmoke;
    text-shadow: 1px 1px 5px black;
  }


  .footer_holder {
    clear: both;
    position: relative;
    margin-top: 23.8rem;
  }
}

@media (max-width: 375px) {
  .vinyl_case {
    height: 100%;
    width: 20rem;
  }
  .vinyl_case_container {
  height: 23rem;
  width: 22rem;
  }  
  .the_night_text {
    width: 17rem;
  }
  .arrow_down_page_one {
    margin-bottom: 3rem;
  }
  .buy_tickets {
    margin-top: -2rem;
  }
  .text_welcome {
    margin-bottom: 2rem;
  }
  .arrow_tickets {
    margin-bottom: 2rem;
  }
  .dance_title {
    margin-top: 5rem;
  }
  .dance_text {
    margin-top: 1rem;
  }
  .button_container {
    margin-top: 6rem;
  }
  .arrow_down_page_two {
    margin-bottom: 0.3rem;
  }
  .arrow_third_page {
    margin-bottom: 2rem;
  }
  .the_night_title {
    margin-top: 1rem;
  }
  .the_night_text {
    margin-top: 1rem;
  }
  .schema_list {
    margin-top: 1rem;
    gap: 8px;
  }
  .buy_tickets_container {
    margin-top: 2rem;
  }
  .footer_container {
    margin-top: 36.7rem;
    
  }
  .fifth_page_text {
    margin-top: 22rem;
  }
  .thirty_banner {
    height: 1rem;
    margin-top: 25rem;
  }
}
@media (min-height: 812px) and (max-width: 376px) {
  .footer_holder {
    margin-top: 7.2rem;
  }
  .arrow_fourth_page {
    margin-top: 8rem;
  }
  .buy_tickets_container {
    margin-top: 4rem;
  }
  .schema_list {
    margin-top: 2rem;
    gap: 1rem;
  }
  .arrow_down_page_two {
    margin-top: 1rem;
  }
  .button_container {
    margin-top: 5rem;
  }
  .dance_text {
    margin-top: 2rem;
  }
  .dance_title {
    margin-top: -2rem;
  }
  .fifth_page_text {
    margin-top: 25rem;
    font-size: 40px;
    color: whitesmoke;
    text-shadow: 1px 1px 5px black;
  }
  .thirty_banner {
    height: 1rem;
    margin-top: 28rem;
    width: 16rem;
  }
}

@media (min-width: 550px) {
  .footer_container {
    clear: both;
    position: relative;
    margin-bottom: 38.5rem;
  }
}

@media (min-width: 750px) {
  .footer_container {
    clear: both;
    position: relative;
    margin-bottom: 38.5rem
  }
}

@media (min-width: 1050px) {
  .footer_container {
    clear: both;
    position: relative;
    margin-bottom: 38.5rem
  }
}

@media (min-width: 1450px) {
  .footer_container {
    clear: both;
    position: relative;
    margin-bottom: 38.5rem
  }
}
